<div class="top">
    <div class="top_con">
      <div class="logo"><img src="/images/logo.gif" width="102" height="111" /></div>
      <div class="menu">
        <ul class="m1">
          <li><a href="/homes" class="current" >首 页</a></li>
          <li><a href="/origin.html" >起 源</a></li>
           <li><a href="/events">活 动</a></li>  
          <li><a href="/particopate.html">参 与</a></li> 
          <li><a href="/shares">分 享</a></li>
        </ul>
      </div>
    </div>
  </div>
 
<div class="banner_bg">
<div class="banner">
<ul class="banner_left">
<li><a href="#" class="bl_1" id="top_bl">img1</a></li>
<li><a href="#" class="bl_2" id="top_bl">img1</a></li>
<li><a href="#" class="bl_3" id="top_bl">img1</a></li>
<li><a href="#" class="bl_4" id="top_bl">img1</a></li>

<li><a href="#" class="bl_5" id="bottom_bl">img1</a></li>
<li><a href="#" class="bl_6" id="bottom_bl">img1</a></li>
<li><a href="#" class="bl_7" id="bottom_bl">img1</a></li>
<li><a href="#" class="bl_8" id="bottom_bl">img1</a></li>

</ul>

<div class="banner_right"><img src="images/banner9.png" width="300" height="320" /></div>

</div>
</div>

<div class="content">
<div class="con_top">
<div class="ct_left">
<div class="cl_title">老友计划</div>
<div class="cl_text">“老友计划”是一个非盈利的公益行动，旨在建立智障残障人士、失能孤寡老人与社会人士的友谊，改变社会人士对弱势人群的态度和观念，消除沟通障碍唤起平等真挚的社会交往，提升智障残障人士、失能孤寡老人的素养和参与社会交往的能力促进社会共融。</div>
</div>
<div class="ct_line"></div>
<div class="ct_right">
<div class="cr_btn"><img src="images/home_pic2.jpg" width="259" height="38" /></div>
<div class="cr_bottom">
<span><img src="images/home_pic3.gif" width="118" height="36" /></span>
<span><img src="images/home_pic4.gif" width="118" height="36" /></span>
<span><img src="images/home_pic5.gif" width="118" height="36" /></span>
<span><img src="images/home_pic6.gif" width="118" height="36" /></span>
</div>
</div>
</div>

<div class="con_bottom">
<div class="cb_left">
<div class="clb_title">活动预告</div>
	<% @events.each do |event| %>
      <dl class="clb_con">
        <dt><%= image_fu(event.photo, "260x150px") %></dt>
        <dd class="cc_1"><%= event.title %></dd>
		<dd class="cc_2">时间：<%= event.begin_at %></dd>
		<dd class="cc_2">地点：<%= event.address %></dd>
		<dd class="cc_2">类别：<%= event.category %></dd>
     	<dd class="cc_2">内容：<%= event.content.truncate(20).html_safe %><a href="/events">［查看详情］</a></dd>  
      </dl>
	<% end %>


</div>
<div class="cb_line"></div>
<div class="cb_right">
<div class="cbr_title">分享感言</div>

<% @shares.each do |share| %>
  <ul class="cbr_bottom">
     <li>	
     <%= raw truncate(share.content,:length => 28,:omission => '...') %>
		 <%= share.time %> 
     </li>
  </ul>
 <% end %>
</div>
 
</div>
</div>

